body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}
nav {
    background-color: black; /* Black background for the menu */
    border-bottom: 2px solid #ffffff; /* Change color and thickness as needed */
}

.menu {
    font-family: "Montserrat", sans-serif;
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items in a row */
    justify-content: flex-end; /* Aligns items to the right */
}

.menu li {
    margin: 0 15px; /* Spacing between menu items */
}

.menu a {
    color: white; /* White text color */
     text-decoration: none; /* Remove underline from links */
    padding: 10px 0; /* Add padding for better click area */
    display: block; /* Make the link fill the entire li */
}

/* Underline on hover */
.menu a:hover {
    text-decoration: underline; /* Underline on hover */
    text-decoration-color: white; /* Color of the underline */
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
